.roboto{
	font-family: 'Roboto Slab', serif;
}

.droid{
	font-family: "Droid Serif", serif;
}

.mont{
	font-family: 'Montserrat', sans-serif;
}

.wallet-font{
	font-size: $wallet-font-size;
}
.login-font{
	font-size: $login-font-size;
}