[class*="col-"]{
	float: left;
	min-height: 1px;
}

	.row{
		&:before, &:after{
			content: "";	
			display: table;
			clear: both;
			}
		}

.container{
	max-width: 100%;
	margin: 0 auto;
}



/* margin top */

@mixin margin-top{
	@for $a from 1 through 30{
		.mt-#{$a}{
			margin-top: (5px * $a)+5px;
		}
	}
}

@include margin-top;

/* Margin */
.dotted_m{
	margin-left: 5px;
}

/* Menu */

.line-height{
	line-height: 40px;

	a{
		text-decoration: none;
	}
}

/* Margin */

.align-right{
	   text-align: right;
}

.align-center{
	text-align: center;
}

/* Border */

.border-left{
	border-right: 1px solid green;
	width: 1px;
	height: 100%;
	text-align: right;
	padding-left: 15px;
}

/* Borders */

.border-bottom{
	@include border-bottom;
}

.border-bottom-links{
	@include border-bottom-links;
}


/* Container */

.outside{
	background-color: silver;
	height: 765px;
	width: 100%;
	padding: 25px 0;

	@media (min-width: 768px) and (max-width: 1199px)
	{
		height: 865px;
	}
}

.outside_links{
	@media (min-width: 191px) and (max-width: 350px){
		height: 1000px;
	}
	@media (min-width: 351px) and (max-width: 766px){
		height: 1050px;
	}
}

.inside{
	background: white; 
	width: 95%; 
	margin: 0 auto;
	padding:10px 0px 15px 0px;
	height: 740px;

	@media (min-width: 191px) and (max-width: 350px){
		height: 540px;
		background-color: white;
	}
	@media (min-width: 351px) and (max-width: 766px){
		height: 1040px;
	}
	
}

.inside_general{
	@media (min-width: 351px) and (max-width: 766px){
		width: 95%; 
		margin: 0 auto;
		height: 540px;
		background-color: white;
	}
}

.links{
	@media (min-width: 191px) and (max-width: 350px){
		height: 980px;
		background-color: white;
	}
	
}

/* Container header size */
.section-text{
	padding: 1em;
}

	@mixin grid($value){
	@for $a from 1 through 12{
		.col-#{$value}-#{$a}{
			width: ($a/12) * 100%;
		}
	}

	@for $a from 1 through 12{
		.col-offset-#{$value}-#{$a}{
			margin-left: ($a/12) * 100%;
		}
	}
}

@include grid(l); 

@media (min-width: 768px)
{
	@include grid(m);
}

@media(max-width: 767px)
{
	@include grid(s);
	body{
		font-size: 10px;
	}
}

/* CHART PHOTO SIZE */

.chart-photo{
  width: 100%;
 }

@media (min-width: 768px)
{
	.chart-photo{
		width: 100%;
	}
}


 .text-align-center{
 	text-align: center;
 }

 .show{
 	width: 0;
 }

 .visible{
 	visibility: visible;
 	position: absolute;
 	margin-top: 2%;
 	z-index: 15;
 	width: 1%;
 }

 .position-fixed{
 	position: fixed;
 }

 .position-absolute{
 	position: absolute;
 }
