[class*="col-"]{
	float: left;
	min-height: 1px;
}

.row:before, .row:after{
	content: "";
	display: table;
	clear: both;
}


.container{
	max-width: 100%;
	margin: 0 auto;
}

@mixin grid($value){
	@for $a from 1 through 12{
		.col-#{$value}-#{$a}{
			width: ($a/12) * 100%;
		}
	}

	@for $a from 1 through 12{
		.col-offset-#{$value}-#{$a}{
			margin-left: ($a/12) * 100%;
		}
	}
}

@include grid(l); 

/* margin top */

@mixin margin-top{
	@for $a from 1 through 30{
		.mt-#{$a}{
			margin-top: (10px * $a)+5px;
		}
	}
}

@include margin-top;

/* Margin */
.dotted_m{
	margin-left: 5px;
}

/* Menu */

.line-height{
	line-height: 40px;

	a{
		text-decoration: none;
	}
}

/* Margin */

.align-right{
	   text-align: right;
}


/* Border */

.border-left{
	border-right: 1px solid green;
	width: 1px;
	height: 100%;
	text-align: right;
	padding-left: 15px;
}

/* Borders */

.border-bottom{
	@include border-bottom;
}

.border-bottom-links{
	@include border-bottom-links;
}


/* Container */

.outside{
	background-color: silver;
	height: 760px;
	width: 100%;
	padding: 25px 0;
}

.inside{
	background: white; 
	width: 95%; 
	margin: 0 auto;
	padding:10px 0px 15px 0px;
	height: 740px;
}

/* Container header size */
.section-text{
	padding: 1em;
}