.menu{
	height: 216vh;
	background-color: $grey-1;
	color:$white;

		.menu-list{
			line-height: 50px;
			:hover{
			background-color:$grey-2;
		}
			
	}	
}

/* Mini icons */

.links{
	@include mini_picture('../mini/links.png');
}

.details{
	@include mini_picture('../mini/details.png');
}

.banners{
	@include mini_picture('../mini/banners.png');
}

.payout{
	@include mini_picture('../mini/payout.png');
}

.personal{
	@include mini_picture('../mini/personal.png');
	
}

.postback{
	@include mini_picture('../mini/postback.png');
}

.star{
	@include mini_picture('../mini/star.png');
}

.dotted{
	@include mini_picture('../mini/dotted.png');
}


.photo{
   @include photo;
}

.online{
	  @include online;
}



/* Tabs dotted */

.green-tabs{
	@include tabs(green);
}

.orange-tabs{
	@include tabs(orange);
}


/* Links */ 

.logo{
	background-image:url('../mini/logo.png');
	width: 100%;
	height: 36px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 5%;	

	@media (min-width: 768px) and (max-width: 1199px)
	{
		width: auto;
	}
}

.hamburger{
	background-image:url('../mini/hamburger.png');
	width: 50px;
	height: 20px;
	margin-left: 5%;
	margin-top: 5%;

	@media (min-width: 768px) and (max-width: 1199px)
	{
		width: 20px;
		height: 15px;
		margin-top: 3%;
	}
}

