@mixin mini($w, $h){
	
	&:before{
		content:"";
		margin-left:10%;
		margin-right: 3%;
		margin-bottom: -2px;
		display: inline-block;
		width: $w;
		height: $h;
		
		@media (min-width: 768px) and (max-width: 1199px)
		{
			margin-left: 15%;
		}
	}
}

/* Mini Picture */

@mixin mini_picture($name)
{
	@include mini(16px, 16px);
	&:before{
		content: "";
		background-image: url($name);
		position: relative;
		background-repeat: no-repeat;		
	}
}

/* Tabs - dotted*/

@mixin tabs($color){
	@include mini(16px, 16px);
	&:before{
		background-color: $color;
		border-radius: 50%;
		margin-left:10px;
		margin-bottom: -2px;
	}
}

/* Borders */

@mixin border-bottom{
	border-bottom: 1px solid black; 
}

@mixin border-bottom-links{
	@include  border-bottom;
	
	@media (min-width: 351px){
		&:hover{
			background-color: $grey-3;
			cursor:pointer;
	
			@include mini_picture('../mini/link.png');
			
			&:after{

				content: url('../mini/delete.png'); 
				margin-left: -2%;
	
			}
			
		}
	}
		
}

@mixin photo{
  display: block;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-image: url('../mini/photo.png');
  position: relative; 

  @media(min-width: 768px) and (max-width: 1199px)
  {
  	width: 4em;
  	height: 4em;
  }
}

@mixin online{
	display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $green; 
}
