
@mixin online{
	&:before{
		content:"";
		display: inline-block;
		width: 11px;
		height: 11px;
		background-image: url('../mini/dotted.png');
		margin-left: -4.25%;
		margin-top: -20px;
		position: absolute;
		background-repeat: no-repeat;		
		}	
}


@mixin mini($w, $h){
	
	&:before{
		content:"";
		margin-left:10%;
		margin-right: 3%;
		margin-bottom: -2px;
		display: inline-block;
		width: $w;
		height: $h;
	}
}

/* Mini Picture */

@mixin mini_picture($name)
{
	@include mini(16px, 16px);
	&:before{
		content: "";
		background-image: url($name);
		position: relative;
		background-repeat: no-repeat;		
	}
}

/* Tabs - dotted*/

@mixin tabs($color){
	@include mini(16px, 16px);
	&:before{
		background-color: $color;
		border-radius: 50%;
		margin-left:10px;
		margin-bottom: -2px;
	}
}

/* Borders */

@mixin border-bottom{
	border-bottom: 1px solid black; 
}

@mixin border-bottom-links{
	@include  border-bottom;
	&:hover{
		background-color: $grey-3;
		cursor:pointer;

		@include mini_picture('../mini/link.png');
		&:after{
			content: url('../mini/delete.png'); 
			margin-left: -2%;
		}
		
	}
}


