/* Buttons */
@mixin btn-silver{
	background-color: $grey-2;
	width: $btn-width;
	height: $btn-heigth;
	color: #fff;
	font-size: $btn;

	a{
		text-decoration: none;
		color: white;
		padding-left: 5px;
		
	}
	
	&:hover{
		background-color: $grey-3;
	}
}

.btn-silver{
	@include btn-silver;
}

@mixin btn-orange{
	@include btn-silver;
	background-color: $orange-1;

	&:hover{
		background-color: $orange-2;
	}
}

.btn-orange{
	@include btn-orange;
}

@mixin btn-disabled{
	@include btn-silver;
}

.btn-disabled{
	@include btn-disabled;


		a:hover{
			pointer-events: none;
			cursor: default;
		}
	}

/* Mini icons */

@mixin mini($w, $h){
	&:before{
		content:"";
		margin-right:10px;
		margin-bottom: -2px;
		display: inline-block;
		width: $w;
		height: $h;
	}
}


/* Tabs */

@mixin tabs($color){
	@include mini(16px, 16px);
	&:before{
		background-color: $color;
		border-radius: 50%;
	}
}

.green-tabs{
	@include tabs(green);
}

.orange-tabs{
	@include tabs(orange);
}

/* Mini Picture */

@mixin mini_picture($name)
{
	@include mini(16px, 16px);
	&:before{
		content: "";
		background-image: url($name);
		position: relative;
	}
}

.links{
	@include mini_picture('../mini/links.png');
}

.details{
	@include mini_picture('../mini/details.png');
}

.banners{
	@include mini_picture('../mini/banners.png');
}

.payout{
	@include mini_picture('../mini/payout.png');
}

.postback{
	@include mini_picture('../mini/postback.png');
}

.star{
	@include mini_picture('../mini/star.png');
}

.photo{
	@include mini_picture('../mini/photo.png');
	@include mini(43px, 43px);
}