/* Top */

.top {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #bbb;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 10;
  right: 0;

  
  .top-item {
    padding: 1em;
    border-left: 1px solid #bbb;


    
    img {
      vertical-align: middle;
    }
    
    &.spaced {
      img {
        &:first-child {
          margin-right: .5em;
        }
        &:last-child {
          margin-left: .5em;
        }
      }
    }
  }
}

.hidden-top{
  justify-content: flex-end;
  left: 0; 
}

.notification{
  @include photo;
   @media(min-width: 768px) and (max-width: 1199px)
  {
    width: 1em;
    height: 1em;
  }
  background-image: url('../mini/notification.png');
  width: 1em;
  height: 1em;
}


.notification-dotted{
	 @include online;
   width: 0.5em;
   height: 0.5em;
    background: $orange-1;
}