/* Colors */
$grey-1: #333;
$grey-2: #979797;
$grey-3: #E3E3E3;
$grey-4: #F5F5F2;

$orange-1: #F58220;
$orange-2: #FFA200;

$green-1: #04AE00;
$green-2: #74B67A;
$green-3: #96CC9B;

$red-1: #FF0000;
$red-2: #DE5252;
$red-3: #EC7171;

$blue-1: #56819F;

$white:#FFF;

$silver: #dbdbdb;


/* Font sizes */
$btn: 20px;

/* Fonts */

.roboto{
	font-family: 'Roboto Slab', serif;
}

.droid{
	font-family: "Droid Serif", serif;
}

.mont{
	font-family: 'Montserrat', sans-serif;
}

$wallet-font-size: 20px;
$login-font-size: 13px;

.wallet-font{
	font-size: $wallet-font-size;
}
.login-font{
	font-size: $login-font-size;
}
/* Sizes */

$btn-width: 110px;
$btn-heigth: 40px;



/* Margin */
.dotted_m{
	margin-left: 5px;
}

/* Colors class*/
.grey-1{
	color: $grey-1; 
}

.grey-2{
	color: $grey-2;
}

.grey-3{
	color: $grey-3; 
}

.orange-1{
	color: $orange-1;
}

.orange-2{
	color: $orange-2; 
}

.green-1{
	color: $green-1;
}

.green-2{
	color: $green-2;
}

.green-3{
	color: $green-3;
}

.red-1{
	color: $red-1;
}

.red-2{
	color: $red-2;
}

.red-3{
	color: $red-3;
}

.blue-1{
	color: $blue-1;
}

.silver{
	color: $silver;
}

/* Menu */

.menu{
	height: 212vh;
	background-color: $grey-1;
	color:$white;

		.menu-list{
			line-height: 50px;
			:hover{
			background-color:$grey-2;
		}
			
		}	
	}


.line-height{
	line-height: 40px;

	a{
		text-decoration: none;
	}
}

/* Margin */

.align-right{
	   text-align: right;
}


/* Border */

.border-left{
	border-right: 1px solid black;
	width: 1px;
	height: 100%;
	text-align: right;
	padding-left: 15px;
}
