/* Form */

.input-form{ 
	padding: 9px;
	border: 1px solid black;
	}

.form-photo{
	background-image: url("../mini/filter.png");
    background-repeat: no-repeat;
    background-position: right .5em center;	
}